@using SocialNetwork.WEB.App_GlobalResources
@{
    ViewBag.Title = Resource.HomePage;
}
<section id="intro">
    <div id="intro-slider" class="flexslider">


        <li>
            <div class="row">
                <div class="col full">
                    <div class="slider-text">

                        <h2>@Resource.SocialNetwork</h2>

                    </div>
                </div>
            </div>
        </li>

        
    </div>
</section>
